.wrapper {
  background-image: url('http://i.imgur.com/K3mPv14.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wrapper > .textContainer {
  height: 100%;
}

.wrapper > .textContainer > button {
  margin-top: 8px;
}

.warning {
  position: absolute;
  bottom: 6em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.warning > div {
  display: flex;
  justify-content: center;
}

.warning .MuiAlert-icon {
  margin-right: 8px !important;
}

.text {
  color: white;
}
/* .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;

  z-index: 0;
  background-image: url('http://i.imgur.com/K3mPv14.jpg');

  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(http://i.imgur.com/K3mPv14.jpg);
} */
