.Calendar {
  padding: 20px;
  height: calc(100% - 100px);
  position: absolute;
  top: 0;
  max-width: 1270px;
  margin: 60px auto auto auto;
  left: 0;
  right: 0;
}

.book {
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  right: 0; */
}

.table {
  max-height: calc(100% - 48px);
  margin-top: 8px;
  overflow-y: auto;
}

.flex:not([hidden]) {
  display: flex;
}
